<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Alarm Clock</title>
	<meta name="viewport" content="width=device-width" />
	<link href="frontend/css/main.css" rel="stylesheet" media="all" />
</head>
<body>

<h1>Alarm Clock</h1>

<div id="global-controllers">
	<label>
		Volume:
		
		<select id="volume">
			<option value="100">100</option>
			<option value="90">90</option>
			<option value="80">80</option>
			<option value="70">70</option>
			<option value="60">60</option>
			<option value="50">50</option>
			<option value="40">40</option>
			<option value="30">30</option>
			<option value="20">20</option>
			<option value="10">10</option>
		</select>
	</label>
</div>


<ul class="not-loaded" id="stations">
	<li>Stations not loaded</li>
</ul>


<!-- Templates -->

<script id="tmpl-station" type="text/x-jquery-tmpl">
    <li data-station="${station}" id="station-${station}" {{if playing}}class="playing"{{/if}}>
    	${station}
    	
    	(
    		<span class="playback-wrapper">
    			{{if playing}}
    				Playing... <a href="javascript:;">Stop</a>
    			{{else}}
    				<a href="javascript:;">Play</a>
    			{{/if}}
    		</span>,
    		<span class="nap-wrapper">
    			{{if napping}}
    				Napping until ${$item._info.nap.endString}... <a href="javascript:;">Cancel nap</a>
    			{{else}}
    				<a href="javascript:;">Nap</a>
    			{{/if}}
    		</span>,
    		<span class="alarm-wrapper">
    			{{if alarmSet}}
    				Alarm set to go off in ${$item._info.alarm.relString} (${$item._info.alarm.absString})... <a href="javascript:;">Cancel alarm</a>
    			{{else}}
    				<a href="javascript:;">Alarm</a>
    			{{/if}}
    		</span>
    	)
    </li>
</script>


<script type="text/javascript" src="config.js"></script>
<script type="text/javascript" src="lib/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="lib/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="lib/jquery.timeago.js"></script>
<script type="text/javascript" src="lib/date.format.js"></script>
<script type="text/javascript" src="frontend/js/main.js"></script>

</body>
</html>